<!DOCTYPE html>

<meta charset="utf-8"/>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/simple-sidebar.css" th:href="@{/css/simple-sidebar.css}" rel="stylesheet" />
<html>
<body>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Sistema de votación. Bienvenido,<p th:text = "${session.voter.nombre}"></p>
			</h3>
			<div th:if="${error != null}">
				<p><font th:text="${error}" color="red" size="2"></font></p>
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<table class="table table-bordered">
			<tr>
		        <th>Nombre</th>
		        <th>Fecha comienzo</th>
		        <th>Fecha finalización</th>
		        <th>Hora de inicio</th>
		        <th>Hora de finalización</th>
		        <th>Votar</th>
		     </tr>
				<tr th:each="e : ${session.eleccionesHaVotado}">
				<form class="navbar-form" action="#" th:action="@{/voter_index}" method="post">
					<td><center><b><p th:text="${e.nombre}"></p></b></center></td>
				    <td th:text="${#dates.format(e.fechaInicio, 'dd/MM/yyyy')}"></td>
				    <td th:text="${#dates.format(e.fechaFin, 'dd/MM/yyyy')}"></td>
				    <td th:text="${e.horaInicio}"></td>
				    <td th:text="${e.horaFin}"></td>
					<td><button type="submit" class="btn btn-primary" name = "vote" th:value="${e.id}">Votar</button></td>
				</form>
			</tr>
			</table> 
		</div>
	</div>
	</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
 </html>